---
title: Archive
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>Archive</h2>
</div>

<main class="tags-content">

    <ul class="tags-list">
        {%for post in site.posts %}
        {% unless post.next %}
            <h2>

            </h2>
            <ul>
            {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
            </ul>
            <h1>{{ post.date | date: '%Y' }}
            </h1>

                <ul>
                {% capture month %}{{ post.date | date: '%m' }}{% endcapture %}
                {% capture nmonth %}{{ post.date | date: '%m' }}{% endcapture %}
                {% if month != nmonth %}
                </ul>
                    
                <h1>{{ post.date | date: '%m' }}
                </h1>

            <ul>
            {% endif %}
            {% endunless %}
            <li id="alsoByMyself">
                <span class="tag-name"> {% assign date_format = site.date_format.archive %} {{ post.date | date: '%Y' }} {% assign date_format = site.date_format.archive %} {{ post.date | date: '%m' }} {% assign date_format = site.date_format.archive %} {{ post.date | date: '%d' }} </span>
                <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}
                </a>
            </li>
    {% endfor %}
  </ul>
</main>
    
{% include footer.html %}